body{
	overflow: hidden;
}
.container{
	height: 600px;
	margin-top: -10px;
}
#building{
	position: relative;
	height: 600px;
	width: 1000px;
	left: 50%;
	transform: translateX(-50%);
	margin-top: -10px;
}
#elevator{
	position: absolute;
	top: 470px;
	left: 50%;
	transform: translateX(-190%);
	height: 75px;
	width: 47px;
}
#elevator img:first-child{
	width: 47px;
	height: 75px;
}
#elevator img:last-child{
	left: 4px;
	top: -67px;
	opacity: 0;
}
#elevRemote{
	position: absolute;
	top: 120px;
	width: 50px;
	height: 210px;
	left: 50%;
	transform: translateX(350%);
	background-color: grey;
	border-radius: 10px;
}
#elevRemote div{
	height: 30px;
	line-height: 25px;
	text-align: center;
}
#elevRemote div:first-child{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}
#elevRemote div:last-child{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}
#floorScreen{
	height: 100px;
	background-color: purple;
	/*border: 1px solid black;*/
}
.signalLight{
	position: absolute;
	top: 20px;
	left: 50%;
	transform: translateX(-150%);
	width: 25px;
	height: 10px;
	border-radius: 5px;
	background-color: red;
	border: 1px solid black;
}
.btn{
	background-color: grey;
	cursor: pointer;

}
.btn:hover, .peopleBtn:hover{
	background-color: green;
	cursor: pointer;
}
.peopleBtn:disabled{
	background-color: lightgrey;
}
.callBtn{
	position: absolute;
	left: 50%;
	transform: translateX(-195%);
	width: 20px;
	height: 20px;
	border-radius: 10px;
	margin: 5px;
	border: 1px solid black;
}
#floorContainer{
	position: absolute;
	height: 600px;
	width: 100px;
	top: 0px;
	left: 50%;
	transform: translateX(-10%);
	z-index: 1;	
}
.floors{
	height: 60px;
	margin-bottom: 15px;
}
#floorContainer div:first-child{
	margin-top: 22.5px;
}
.floors img, #elevator img:last-child{
	position: relative;
	height: 60px;
	width: 40px;
	margin-top: 2px;
}
.peopleBtn{
	position: absolute;
	width: 90px;
	height: 30px;
	left: 50%;
	transform: translateX(195%);
	background-color: grey;
	line-height: 30px;
	text-align: center;
	border-radius: 5px;
}
#sendPeople{
	top: 380px;
}
#pickPeople{
	top: 415px;
}
#info{
	position: absolute;
	width: 90px;
	height: 50px;
	top: 40px;
	left: 50%;
	background-color: lightgrey;
	color: grey;
	border-radius: 10px;
	transform: translateX(170%);	
	padding: 10px 5px;
	text-align: center;
}